#include "sysbuild/flash.overlay"
#include "sysbuild/lfs_sd.overlay"

/ {
	chosen {
		zephyr,shell-uart = &usart3;
	};
};

// With MCUBOOT
// / {
//         chosen {
//                 zephyr,code-partition = &slot0_partition;
//         };
// };

// Without MCUBOOT
// / {
//         chosen {
//                 zephyr,code-partition = &boot_partition;
//         };
// };
