#include "sysbuild/flash.overlay"
#include "sysbuild/lfs_sd.overlay"

/ {
	chosen {
		zephyr,shell-uart = &usart3;
	};
};

/ {
        chosen {
                zephyr,code-partition = &slot0_partition;
        };
};
