###############################################################################
#  SatNOGS-COMMS MCU software
#
#  Copyright (C) 2022-2024, Libre Space Foundation <http://libre.space>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#  SPDX-License-Identifier: GNU General Public License v3.0 or later
###############################################################################

CONFIG_SOC_SERIES_STM32H7X=y
CONFIG_SOC_STM32H723XX=y

# Enable MPU and FPU
CONFIG_ARM_MPU=y
CONFIG_FPU=y

# Enable stack protection
# CONFIG_ENTROPY_GENERATOR=y
# CONFIG_HW_STACK_PROTECTION=y
# CONFIG_STACK_SENTINEL=y
# CONFIG_MPU_STACK_GUARD=y
# CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=1024
# CONFIG_MAIN_STACK_SIZE=1024
# CONFIG_IDLE_STACK_SIZE=512
# CONFIG_STACK_USAGE=y


# Enable UART
CONFIG_SERIAL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable GPIO
CONFIG_GPIO=y

# Enable clocks
CONFIG_CLOCK_CONTROL=y

# Enable pin controller
CONFIG_PINCTRL=y


# C++ please!
# CONFIG_NEWLIB_LIBC=y
# CONFIG_NEWLIB_LIBC_NANO=n
# CONFIG_CPLUSPLUS=y
# CONFIG_STD_CPP17=y
# CONFIG_LIB_CPLUSPLUS=y
# CONFIG_CPP_EXCEPTIONS=y

# Watchdog
# CONFIG_WATCHDOG=y
# CONFIG_IWDG_STM32=y
# CONFIG_IWDG_STM32_INITIAL_TIMEOUT=12000
# CONFIG_WDT_DISABLE_AT_BOOT=y
# CONFIG_TASK_WDT=y

# This should match the maximum number of tasks that need the watchdog
# CONFIG_TASK_WDT_CHANNELS=8
# CONFIG_TASK_WDT_MIN_TIMEOUT=4000
# CONFIG_TASK_WDT_HW_FALLBACK_DELAY=100

# Enable ADC and DAC
# CONFIG_ADC=y
# CONFIG_DAC=y

# CONFIG_SPI=y
# CONFIG_I2C=y
# CONFIG_I2C_STM32_INTERRUPT=y

# .proto everything!
CONFIG_NANOPB=y

# CAN related configuration
# CONFIG_CAN=y
# CONFIG_CAN_STM32=y
# CONFIG_CAN_MAX_FILTER=2
# CONFIG_CAN_AUTO_BUS_OFF_RECOVERY=y
# CONFIG_ISOTP=y
# CONFIG_ISOTP_RX_BUF_SIZE=1024
# CONFIG_ISOTP_RX_SF_FF_BUF_COUNT=2

# Super useful configuration options for debugging
# CONFIG_THREAD_NAME=y
# CONFIG_DEBUG_THREAD_INFO=y
# CONFIG_THREAD_MONITOR=y
# CONFIG_INIT_STACKS=y
# CONFIG_INIT_STACKS=y
# CONFIG_THREAD_STACK_INFO=y
# CONFIG_TRACING=y
# CONFIG_TRACING_OBJECT_TRACKING=y
# CONFIG_MEM_SLAB_TRACE_MAX_UTILIZATION=y
# CONFIG_WAITQ_SCALABLE=y

# eMMC and littlefs related configuration
# CONFIG_DISK_ACCESS=y
# CONFIG_DISK_DRIVERS=y
# CONFIG_DISK_DRIVER_SDMMC=y
# CONFIG_MMC_STACK=y
# CONFIG_SDMMC_STM32_HWFC=y
# CONFIG_FILE_SYSTEM=y
# CONFIG_FILE_SYSTEM_LITTLEFS=y
# CONFIG_FS_LITTLEFS_BLK_DEV=y
# CONFIG_NOCACHE_MEMORY=y


# Segger RTT
# CONFIG_CONSOLE=y
# CONFIG_LOG_BACKEND_RTT=y
# CONFIG_LOG_BACKEND_RTT_MODE_DROP=y
# CONFIG_LOG_PRINTK=y
# CONFIG_USE_SEGGER_RTT=y
# CONFIG_RTT_CONSOLE=y
# CONFIG_UART_CONSOLE=n
